/* 
Author: Anne Son;
Theme: Galbi Restaurant Food Order Website Admin;
version: 1.0;
*/
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  padding: 1%;
  width: 80%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.clearfix {
  float: none;
  clear: both;
}
a {
  color: #caa851;
  text-decoration: none;
}
.tbl-full {
  width: 100%;
}
.tbl-30 {
  width: 30%;
}
table tr th {
  border-bottom: 1px solid black;
  padding: 1%;
  text-align: left;
}
table tr td {
  padding: 1%;
}
.btn-primary {
  background-color: #ccae62;
  padding: 1.2%;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.btn-primary:hover {
  background-color: #caa851;
}
.btn-secondary {
  background-color: #f0cd74;
  padding: 1.2%;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.btn-secondary:hover {
  background-color: #e6bb4f;
}
.btn-danger {
  background-color: #ff6b81;
  padding: 1.2%;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.btn-danger:hover {
  background-color: #ff4757;
}
.success {
  color: #e6bb4f;
}
.error {
  color: #ff4757;
}

/* Menu */
.menu {
  border-bottom: 1px solid #caa851;
}
.menu ul {
  list-style-type: none;
}
.menu ul li {
  display: inline;
  padding: 1%;
}
.menu ul li a {
  text-decoration: none;
  color: black;
  font-family: "Bebas Neue", cursive;
  font-size: larger;
}
.menu ul li a:hover {
  color: #caa851;
}
/* Main */
.main-content {
  background-color: #f1f2f6e8;
  /* padding: 3% 3% 16%; */
  height: 81vh;
}
.col-4 {
  width: 18%;
  background-color: white;
  margin: 1%;
  padding: 2%;
  float: left;
}

/* Login */
.login {
  border: 1px solid black;
  width: 20%;
  margin: 10% auto;
  padding: 1% 1% 0 1%;
}
/* CSS for footer */
.footer {
  background-color: #272727;
  color: white;
  padding: 1%;
  margin: 0 -5%;
}
.footer-all {
  background-color: #272727;
  color: white;
  padding: 1%;
}
