/* 
Author: Anne Son;
Theme: Galbi Restaurant Food Order Website;
version: 1.0;
*/

/* CSS for All */
* {
  margin: 0 0;
  padding: 0 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1%;
}
.img-responsive {
  width: 100%;
}
.img-curve {
  border-radius: 10px;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-white {
  color: white;
}
.clearfix {
  clear: both;
  float: none;
}
a {
  color: #ccae62;
  text-decoration: none;
}
a:hover {
  color: #caa851;
  font-weight: bold;
}
.btn {
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}
.btn-primary {
  background-color: #ccae62;
  color: white;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #caa851;
  color: white;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.1px;
}
h2 {
  color: #393636;
  font-size: 2.5rem;
  margin-bottom: 2%;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.5rem;
  font-weight: lighter;
  color: #393636;
}
.float-container {
  position: relative;
}
.float-text {
  position: absolute;
  bottom: 20px;
  left: 40%;
}
fieldset {
  border: 1px solid white;
  margin: 5%;
  padding: 3%;
  border-radius: 5px;
}

/* CSS for navbar section */
.navbar {
  z-index: 6;
  position: fixed;
  background-color: white;
  width: 100%;
  overflow: hidden;
}
.navbar-container {
  padding: 0;
  background-color: white;
  top: 0;
}
.logo {
  width: 10%;
  float: left;
}
.menu {
  line-height: 60px;
}
.menu ul {
  list-style-type: none;
}
.menu ul li {
  display: inline;
  padding: 2%;
  font-size: large;
}
.menu ul li a {
  color: black;
  font-family: 'Bebas Neue', cursive;
  font-size: larger;
}
.menu ul li a:hover {
  color: #caa851;
}

/* Food Search Section */
.food-search {
  background-image: url(../images/kimchibg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 70%;
  padding: 8% 0;
}
.food-search input[type='search'] {
  width: 50%;
  padding: 1%;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

/* Categories */
.categories {
  padding: 4% 0;
}
.box-3 {
  width: 28%;
  float: left;
  margin: 2%;
}

/* Food menu */
.food-menu {
  background-color: #ececec;
  padding: 4% 0;
}
.food-menu-box {
  width: 43%;
  margin: 1%;
  padding: 2%;
  float: left;
  background-color: white;
  border-radius: 8px;
  display: flex;
}
.square {
  position: relative;
  width: 250px;
  height: 150px;
  overflow: hidden;
}
.menu-img {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: auto;
  top: 5%;
  left: 20%;
  transform: translate(-20%, -20%);
}

.square img.landscape {
  position: absolute;
  height: 100%;
  width: auto;
  top: 20%;
  left: 10%;
  transform: translate(-10%, -20%);
}
.food-menu-img {
  width: 20%;
  float: left;
}

.food-menu-desc {
  width: 70%;
  float: left;
  margin-left: 8%;
}

.food-menu-desc {
  width: 70%;
  float: left;
  margin-left: 8%;
}
.food-price {
  font-size: 1.2rem;
  margin: 2% 0;
}
.food-detail {
  font-size: 0.8rem;
  color: #8395a7;
  margin-bottom: 5%;
}
.btn-menu {
  padding: 2.5%;
  font-size: 0.9rem;
}

/* Social */
.social ul {
  list-style-type: none;
}
.social ul li {
  display: inline;
}
/* Footer */
#footer {
  background-color: #393636;
  padding: 1% 0;
  line-height: 1.625;
}
#footer h4 {
  margin: 6% 0;
  padding-bottom: 5%;
  border-bottom: 1px solid #ccae62;
  color: white;
  letter-spacing: 1px;
}
#footer p {
  font-size: 0.95rem;
  line-height: 1.83;
}
p.address {
  color: white;
  margin-bottom: 1%;
}

/* Copyright */
.copyright {
  width: 100%;
  padding: 1.45em 0;
  background-color: #272727;
  color: white;
}
/* for Order Section */
.order {
  width: 50%;
  margin: 0 auto;
}
.input-responsive {
  width: 96%;
  padding: 1%;
  margin-bottom: 3%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.order-label {
  margin-bottom: 1%;
  font-weight: bold;
}

/* For Mobile Size or Smaller Screen */
@media only screen and (max-width: 768px) {
  .logo {
    width: 80%;
    float: none;
    margin: 2% auto;
  }
  .menu ul {
    text-align: center;
  }
  .menu ul li {
    padding: 1%;
  }
  .food-search input[type='search'] {
    width: 90%;
    padding: 2%;
    margin-bottom: 3%;
  }
  .btn {
    width: 91%;
    padding: 2%;
  }
  .food-search {
    padding: 10% 0;
  }
  .categories {
    padding: 15% 0;
  }
  .h2 {
    margin-bottom: 10%;
  }
  .box-3 {
    width: 95%;
    margin: 4% auto;
  }
  .food-menu {
    padding: 20% 0;
  }
  .food-menu-box {
    width: 90%;
    padding: 5% 0;
  }
  .social {
    padding: 15% 0;
  }
  .order {
    width: 100%;
  }
}
